services:
  pgadmin4:
    ports:
        - {{ pgadmin_server_port }}:80
    volumes:
        - ./servers.json:/pgadmin4/servers.json
    environment:
        - PGADMIN_DEFAULT_EMAIL={{ pgadmin_default_email }}
        - PGADMIN_DEFAULT_PASSWORD={{ pgadmin_default_password }}
    image: {{ pgadmin_image }}
    container_name: {{ pgadmin_container_name }}
    networks:
      - {{ network }}

networks:
  {{ network }}:
    driver: bridge
    name: {{ network }}
    external: true
